<form [formGroup]="pollForm">
  <mat-form-field appearance="fill" class="question">
    <mat-label>Your question</mat-label>
    <input matInput formControlName="question">
  </mat-form-field>

  <div class="answers">
    <div *ngFor="let answer of answerControls; index as idx" class="answer">
      <mat-form-field appearance="outline" [color]="hasRepetition(idx) ? 'accent' : 'primary'" class="answer__field">
        <mat-label>Answer {{ idx + 1 }}</mat-label>
        <input matInput [formControl]="answer">
        <button *ngIf="canDeleteAnswer" mat-icon-button color="primary" matSuffix (click)="deleteAnswer(idx)">
          <mat-icon>delete</mat-icon>
        </button>
        <mat-hint *ngIf="hasRepetition(idx)">
          Duplicate answer
        </mat-hint>
      </mat-form-field>
    </div>

    <div class="answers__actions">
      <button
        *ngIf="canAddAnswer"
        mat-raised-button
        type="button"
        color="primary"
        (click)="addAnswer()"
      >
        Add an answer
      </button>
    </div>
  </div>
</form>
<div class="summary">
  <span class="summary__count">{{ answers.length }}/{{ maxAnswers }} possible answers</span>
  <div class="summary__actions">
    <button mat-button color="warn" (click)="reset()">Reset</button>
  </div>
</div>
