<form [formGroup]="pollForm">
  <mat-form-field appearance="fill" class="question">
    <mat-label>Your question</mat-label>
    <input matInput formControlName="question" appCharLimiter [maxlength]="maxLength">
  </mat-form-field>

  <div class="answers">
    <div *ngFor="let answer of pollForm.controls.answers.controls | keyvalue; index as idx" class="answer">
      <mat-form-field appearance="outline" [color]="hasRepetition(idx) ? 'accent' : 'primary'" class="answer__field">
        <mat-label>Answer {{ idx + 1 }}</mat-label>
        <input matInput [formControl]="answer.value" [maxlength]="maxLength">
        <button mat-icon-button color="primary" matSuffix (click)="deleteAnswer(answer.key)">
          <mat-icon>delete</mat-icon>
        </button>
        <mat-hint *ngIf="hasRepetition(idx)">
          Duplicate found!
        </mat-hint>
      </mat-form-field>
    </div>
    <mat-hint *ngIf="answers().hasError('minNonEmptyValues')">
      There should be at least {{ answers().getError('minNonEmptyValues').minNonEmptyValues }} non-empty answers.
    </mat-hint>

    <div class="answers__actions">
      <button
        *ngIf="canAddAnswer"
        mat-raised-button
        type="button"
        color="primary"
        (click)="addAnswer()"
      >
        Add an answer
      </button>
    </div>
  </div>
</form>
<div class="summary">
  <span class="summary__count">{{ answersCount() }}/{{ maxAnswers }} possible answers</span>
  <div class="summary__actions">
    <button mat-button color="warn" (click)="resetPoll()">Reset</button>
  </div>
</div>
