<mat-toolbar color="primary" class="mat-elevation-z2">
  Your title could be here
</mat-toolbar>

<div class="content">
  <div class="column">
    <app-editor (pollChange)="updatePoll($event)"></app-editor>
  </div>
  <div class="column">
    <app-poll *ngIf="poll$ | async; else noPollReady; let poll" [poll]="poll" (vote)="vote($event)"></app-poll>
    <ng-template #noPollReady>
      <div>No poll is ready</div>
    </ng-template>
  </div>
  <div class="column">
    <ng-container *ngIf="pollData$ | async; else noChartReady; let pollData">
      <app-poll-chart [poll]="pollData.poll" [votes]="pollData.votes"></app-poll-chart>
    </ng-container>
    <ng-template #noChartReady>
      <div>No poll is ready</div>
    </ng-template>
  </div>
</div>
